HTTP_PORT=3002
HTTP_PATH_PREFIX=/simplebank
HTTP_ENABLE_CORS=true
HTTP_LOG_SKIP=/simplebank/health,/simplebank/metrics
SECRET_SALT=secret

SERVICE_NAME=simplebank
TRACE_COLLECTOR_URL=localhost:4317
TRACE_INSECURE=true

POSTGRES_URL=postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable
POSTGRES_DEBUG=true
POSTGRES_MIGRATE=true